///////////////////////////
/// Config 11/03/2023   ///
///////////////////////////


// Colors //

$color-primary100: #1C1C1C;
$color-primary90: #1E1E1E;
$color-primary80: #1F1F1F;
$color-primary70: #242424;

$color-sec100: #2F2F2F;
$color-sec90: #989898;

$color-white: #fff;
// Text //

$text-color-title: #fff;
$text-color-subtitle: #ffffff80;

$text-color-nav: #9898985E;
$text-color-nav-hover: #989898;

// Breakpoint //

$breakpoint-l: 1440px;
$breakpoint-m: 992px;
$breakpoint-s: 576px;